/* CSS Document */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}


li {
	float:left;
	display: block;
    color: white;
    text-align: center;
	padding: 15px;
	margin-left: 130px;
	
    
}

li :hover {
    background-color: #111111;
}
.mainheader img {
	width:30%;
	height:auto;
	margin: 2% 0;
	
	
}